@model IEnumerable<BackupSystem.Model.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Backup 
        </th>
        <th>
            Schedule Type 
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Backup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleType.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-lg" }) |

            @Html.ActionLink(
                    "Delete",
                    "Delete",
              new { id = item.Id },
                  new { onclick = "return confirm('Are you sure you wish to delete this record?');", @class = "btn btn-primary btn-lg" })


        </td>
    </tr>
}

</table>
