@model IEnumerable<BackupSystem.Model.EventLog>
@using BackupSystem.Helpers;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 
<table class="table">
    <tr>

        <th>
            Backup Name  
        </th>
       
         
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            EventLog Type
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr @Html.RowColor(item.EventLogTypeId.Value)>

        <td>
            @Html.DisplayFor(modelItem => item.Schedule_Detail.Schedule.Backup.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventLogType.Name)
        </td>
    </tr>
}

</table>
